<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="src/images/spotify logo.svg" type="image/x-icon">
    <title>Spotify API</title>
</head>
<body class="selection:bg-[#20d46573]">
    <div class="bg-transparent h-64 w-full translate-y-1/2 mx-auto p-10">
        <div class="images flex justify-center gap-2 mb-2">
            <img src="src/images/compassuollogo.png" class="w-20 select-none" alt="CompassUOL logo">
            <img src="src/images/spotify logo.svg" class="w-20 select-none" alt="CompassUOL logo">
        </div>
        <h1 class="text-white text-center font-bold text-3xl">Spotify API</h1>

        <form action="login/spotify" method="get" class="mt-10 mb-5 flex justify-center">
            <button class="text-black font-[500] bg-[#20d464] py-2 px-[15px] rounded-3xl text-base hover:bg-[#20d4652a] transition-all duration-700">Log-in with spotify</button>
        </form>

        <p class="text-[#20d46580] text-center">Or<a href="https://www.spotify.com/br-pt/signup?flow_id=d5e79ba0-4f44-45c1-9db8-9cc596139917%3A1723103063&forward_url=https%3A%2F%2Fopen.spotify.com%2Fintl-pt%3Fflow_ctx%3Dd5e79ba0-4f44-45c1-9db8-9cc596139917%253A1723103063" target="_blank"> register now</a></p>

        <% if (locals.error) { %>
            <p class="text-red-500 text-center mt-2"><%= locals.error %></p>
        <% } %>
    </div>

    <footer class="absolute bottom-2 text-[#ffffff23] left-2 select-none text-sm lg:text-base">All rights reserved - CompassUOL - AI/ML - Grupo 7</footer>
    <script src="src/scripts/script.js"></script>
</body>
</html>