<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="src/images/spotify logo.svg" type="image/x-icon">
    <title>Spotify API</title>
</head>
<body>

    <div class="bg-transparent h-64 w-full translate-y-1/2 mx-auto p-10">
        <div class="images flex justify-center gap-2 mb-2">
            <img src="src/images/compassuollogo.png" class="w-20" alt="CompassUOL logo">
            <img src="src/images/spotify logo.svg" class="w-20" alt="CompassUOL logo">
        </div>
        <h1 class="text-white text-center font-bold text-3xl">Spotify API</h1>

        <form action="login/spotify" method="get" class="mt-10 flex justify-center">
            <button class="text-black font-[500] bg-[#20d464] py-2 px-[15px] rounded-3xl text-xl hover:scale-105 transition-all">Log-in with spotify</button>
        </form>
    </div>

    <footer class="absolute bottom-2 text-[#ffffff23] left-2">All rights reserved - CompassUOL - AI/ML - Grupo 7</footer>
    <script src="src/scripts/script.js"></script>
</body>
</html>